<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                   
                    <img class="meProfile" src='../img/meProfile.png'>
           
                <p class="text-faded">I'm a London based web developer.</p>
                <p> Having spent years working with developers in Marketing & Branding I decided it was time to take the plunge and create things myself. I studied at General Assembly where I learnt the key concepts of programming and built Full-Stack applications.</p>
                <p> In a previous life I've been Head of Marketing & Brand, specialising in Digital and the property industry.</p>

                <p> I'm currently looking forward to working in the vibrant world of tech and am on the hunt for exciting Junior Development positions.</p>
               <!--  <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>


