<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/chute.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            </div>
                            <div class="project-name">
                                Chute Four
                                <p> A 2 player game built using Javascript and KISS & DRY principles. As my first project at GA it was an opportunity to play with jQuery, CSS & HTML as well as properly using Github and deploying to Heroku.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projects
                            </div>
                            <div class="project-name">
                                Havit
                                <p>This site enables you to get and give away your stuff for free to locals. Havit was built using CRUD/RESTful concepts with Ruby, Ruby on Rails, SQL, and a Bootstrap framework. As well as helper Gems like Carrierwave, Devise & Ransack.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/plannerr.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projects
                            </div>
                            <div class="project-name">
                                Plannerr
                                <p> This is a distraction free group planning app.
                                Working as a group we used Mongo & Express, Node, Ajax and Underscore. A win was successfully integrating a Google Maps API and a Facebook login system. </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projects
                            </div>
                            <div class="project-name">
                                Draw at Christmas
                                <p>This Hackathon project was a lot of fun. The goal was to create a playful, festive, family experience.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projects
                            </div>
                            <div class="project-name">
                                Power
                                <p> Pulling data from a quotes API I designed a messaging app that that sends meaningful messages using quotes as inspiration. Edit as you wish and then send SMS messages using Twilio. With authentication using Passport & JWT the MEANstack app has a clean design using Skeleton, jQuery and Angular.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
