<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Portfolio</h2>
            <hr class="primary">
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#"  data-toggle="modal" data-target="#Chute" class="portfolio-box">
                    <img src="img/portfolio/chute.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            WDI Project One
                            </div>
                            <div class="project-name">
                                Chute Four 
                            </div>
                        </div>
                    </div>
                </a>

                <div id="Chute" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="projectTitle modal-title">Chute 4</h4>
                            </div>
                            <div class="modal-body">
                                <p>A 2 player game built using Javascript and KISS & DRY principles. As my first project at GA it was an opportunity to play with jQuery, CSS & HTML as well as properly using Github and deploying to Heroku.</p>
                                <p class="text-muted">It was an opportunity to get stuck into jQuery, CSS & HTML as well as using Github and deploying to Heroku.</p>
                                <div class="text-center">
                                    <p><a href="https://github.com/FinnCavanagh/WDI-Project-One/tree/master/Connect" class="btn btn-primary" role="button" target="_blank">See Code</a> <a href="https://shielded-dusk-8776.herokuapp.com/" class="bprimary" role="button" target="_blank">Play Game</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#"  data-toggle="modal" data-target="#Havit" class="portfolio-box">
                    <img src="img/portfolio/havit.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            WDI Project Two
                            </div>
                            <div class="project-name">
                                Havit
                            </div>
                        </div>
                    </div>
                </a>
            
                <div id="Havit" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="projectTitle modal-title">Havit</h4>
                            </div>
                            <div class="modal-body">
                                <p>As a regular user of Freecycle, a site that enables you to get and give away your stuff for free to locals, I was consistently frustrated by how awful the site is - so decided to make my own.</p>
                                <p class="text-muted">Havit was built using CRUD/RESTful concepts with Ruby, Ruby on Rails, postgresSQL and Bootstrap. I incorporated Gems like Carrierwave, Devise & Ransack</p>
                                <div class="text-center">
                                    <p><a href="https://github.com/FinnCavanagh/Project-Two" class="btn btn-primary" role="button" target="_blank">See Code</a> <a href="http://quiet-dawn-3235.herokuapp.com/home/index" class="bprimary" role="button" target="_blank">Visit Site</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="#"  data-toggle="modal" data-target="#Plannerr" class="portfolio-box">
                    <img src="img/portfolio/plannerr.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            WDI Project Three
                            </div>
                            <div class="project-name">
                                Plannerr
                            </div>
                        </div>
                    </div>
                </a>
            
                <div id="Plannerr" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="projectTitle modal-title">Plannerr</h4>
                            </div>
                            <div class="modal-body">
                                <p>This is a distraction-free group planning app. Create events and invite friends via Facebook, the app allows each friend to suggest a different activity via the Google Maps API. </p>
                                <p class="text-muted">Mobile-first, the app was built using Node.js, Express and MongoDB. We also used Ajax and Underscore. A win was successfully integrating the Google Maps API and a seamless Facebook login system.</p>
                                <div class="text-center">
                                    <p><a href="https://github.com/FinnCavanagh/Plannerr-Client" class="btn btn-primary" role="button" target="_blank">Front-end Code</a>
                                    <a href="https://github.com/FinnCavanagh/plannerr-api" class="btn btn-primary" role="button" target="_blank">Back-end Code</a> <a href="http://finncavanagh.github.io/Plannerr-Client/" class="btn btn-primary" role="button" target="_blank">Visit Site</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#"  data-toggle="modal" data-target="#Power" class="portfolio-box">
                    <img src="img/portfolio/power.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            WDI Project Four
                            </div>
                            <div class="project-name">
                                Power
                            </div>
                        </div>
                    </div>
                </a>
            
                <div id="Power" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="projectTitle modal-title">Power App</h4>
                            </div>
                            <div class="modal-body">
                                <p>In the noisy world of messaging apps it's rare to actually say something that has any power. Pulling data from a quotes API I designed a messaging app that that sends meaningful messages using quotes as inspiration. Edit as you wish and then send as SMS. </p>
                                <p class="text-muted"> Integrated with Twilio, with authentication using Passport & JWT the MEANstack app has a clean design using Skeleton, jQuery and Angular.</p>
                                <div class="text-center">
                                    <p><a href="https://github.com/FinnCavanagh/power-app-front-end" class="btn btn-primary" role="button" target="_blank">Front-end Code</a>
                                    <a href="https://github.com/FinnCavanagh/power-app" class="btn btn-primary" role="button" target="_blank">Back-end Code</a> <a href="http://finncavanagh.github.io/power-app-front-end/" class="btn btn-primary" role="button" target="_blank">Visit Site</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="#"  data-toggle="modal" data-target="#Drawing" class="portfolio-box">
                    <img src="img/portfolio/coming-soon.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            WDI Hackathon
                            </div>
                            <div class="project-name">
                                Drawing At Christmas
                            </div>
                        </div>
                    </div>
                </a>

            <div id="Drawing" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="projectTitle modal-title">Drawing At Christmas</h4>
                        </div>
                        <div class="modal-body">
                            <p> In this Hackathon we had a lot of fun coming up with a friendly festive game for all the family. A group has 60 seconds to simultaneously draw the Christmas item. Hilarious and strangely addictive. </p>
                            <p class="text-muted"> Using Firebase and Socket you sign in to chat and create the drawing board which updates on everyone's screen. </p>
                            <div class="text-center">
                                <p><a href="https://github.com/siyounguk/WDI-HACK-A-THON" class="btn btn-primary" role="button" target="_blank">Front-Code</a>
                                <a href="" class="btn-primary" role="button" target="_blank">Coming Soon</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>   

            <div class="col-lg-4 col-sm-6">
                <a href="#"  data-toggle="modal" data-target="#BC" class="portfolio-box">
                    <img src="img/portfolio/marketing-box.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            Marketing & Brand
                            </div>
                            <div class="project-name">
                                Marketing & Brand
                            </div>
                        </div>
                    </div>
                </a>
            
                <div id="Havit" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="projectTitle modal-title">Marketing & Brand Consultant</h4>
                            </div>
                            <div class="modal-body">
                                <p>Before coding I worked for several years as Head of Marketing & Brand. Working with agencies, in startups and freelance my experience spans marketing strategies, service design, product management, developing print & online collatoral as well as building a brand from the ground up. My work always put the user first. Enthusiastic, persistent and creative, I am at my happiest when working with great people to create brilliant user-experience, clean design & raise the bar on consumer expectations.  </p>
                                <p class="text-muted"> Coding is the perfect complement to my Marketing & Branding skillset. If you'd like to find out more take a look at my portfolio. </p>
                                <div class="text-center">
                                    <p><a href="https://finncavanagh.squarespace.com/config#/|/" class="bprimary" role="button" target="_blank">Visit Portfolio</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
